<div class="row">
	<form novalidate name="createQuestionForm" class="form-inline" ng-submit="createBar()">
		<div class="form-group">
			<label class="sr-only" for="bar_name">barname</label>
			<input type="text" name="barName" ng-model="bar.barName" class="form-control"
				   id="bar_name"
				   placeholder="bar name" required>
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="bar_tel">tel</label>
			<input type="text" name="barTel" ng-model="bar.tel" class="form-control"
				   id="bar_tel"
				   placeholder="tel">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="bar_address">address</label>
			<input type="text" name="barAddress" ng-model="bar.address" class="form-control"
				   id="bar_address"
				   placeholder="address">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="bar_status">status</label>
			<input type="text" name="barStatus" ng-model="bar.status" class="form-control"
				   id="bar_status"
				   placeholder="status">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="bar_comment">comments</label>
			<input type="text" name="barComments1" ng-model="bar.comment" class="form-control"
				   id="bar_comment"
				   placeholder="Write comments here">
		</div>

		<button type="submit" class="btn btn-default" ng-disabled="createBrandForm.$invalid">Create Bar</button>
	</form>
</div>
<div class="row" style="padding: 20px 0px;">
	{{bar.barName}}<br/>
	{{bar.tel}}
	{{bar.address}}
	{{bar.status}}
	{{bar.comment}}

</div>

<div class="row" style="height:20px; border-bottom: 1px black solid"></div>
<div class="row" style="padding: 20px 0px;">
	<input type="text" ng-model="keyword" placeholder="input the keyword here to filter">
	<ul class="questionList">
		<li ng-repeat="barItem in barList|filter:keyword" class="questionItem"
			ng-init="viewItem = {barName:barItem.barName,editOn:false}">
			<div class="clearfix">

				<button type="button" class="btn btn-danger" ng-click="deleteQuestion(barItem)">Delete</button>
				{{barItem.id}}:
				{{barItem.barName}},
				{{barItem.tel}},
				{{barItem.address}},
				{{barItem.status}},
				{{barItem	.comment}}.
			</div>

		</li>
	</ul>
</div>





