<div class="row">
	<form novalidate name="createQuestionForm" class="form-inline" ng-submit="createApartment()">
		<div class="form-group">
			<label class="sr-only" for="client_name">clientname</label>
			<input type="text" name="client_name" ng-model="apartment.clientName" class="form-control"
				   id="client_name"
				   placeholder="client name" required>
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_tel">tel</label>
			<input type="text" name="tel" ng-model="apartment.tel" class="form-control"
				   id="client_tel"
				   placeholder="tel">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_address">address</label>
			<input type="text" name="address" ng-model="apartment.address" class="form-control"
				   id="client_address"
				   placeholder="address">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_floor">floor</label>
			<input type="text" name="floor" ng-model="apartment.floor" class="form-control"
				   id="client_floor"
				   placeholder="floor" required>
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_door">door</label>
			<input type="text" name="foor" ng-model="apartment.door" class="form-control"
				   id="client_door"
				   placeholder="door">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_entercode">entercode</label>
			<input type="text" name="entercode" ng-model="apartment.enterCode" class="form-control"
				   id="client_entercode"
				   placeholder="Enter code">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_capacity">capacity</label>
			<input type="text" name="capacity" ng-model="apartment.capacity" class="form-control"
				   id="client_capacity"
				   placeholder="capacity">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_price">price</label>
			<input type="text" name="price" ng-model="apartment.price" class="form-control"
				   id="client_price"
				   placeholder="price" required>
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_status">status</label>
			<input type="text" name="status" ng-model="apartment.status" class="form-control"
				   id="client_status"
				   placeholder="status">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_comments1">comments</label>
			<input type="text" name="comments1" ng-model="apartment.comment1" class="form-control"
				   id="client_comments1"
				   placeholder="Write comments here">
		</div>
		<br>
		<div class="form-group">
			<label class="sr-only" for="client_comments2">comments2</label>
			<input type="text" name="comments2" ng-model="apartment.comment2" class="form-control"
				   id="client_comments2"
				   placeholder="Write addational comments here">
		</div>
		<button type="submit" class="btn btn-default">Create Apartment</button>
	</form>
</div>
<div class="row" style="padding: 20px 0px;">
	{{apartment.clientName}}<br/>
	{{apartment.tel}}
	{{apartment.address}}
	{{apartment.floor}}
	{{apartment.door}}
	{{apartment.enterCode}}
	{{apartment.capacity}}
	{{apartment.price}}
	{{apartment.status}}
	{{apartment.comment1}}
	{{apartment.comment2}}

</div>
<div class="row" style="height:20px; border-bottom: 1px black solid"></div>
<div class="row" style="padding: 20px 0px;">
	<input type="text" ng-model="keyword" placeholder="input the keyword here to filter">
	<ul class="questionList">
		<li ng-repeat="apteItem in apartmentList|filter:keyword" class="questionItem"
			ng-init="viewItem = {clientName:apteItem.clientName,editOn:false}">
			<div class="clearfix">

				<button type="button" class="btn btn-danger" ng-click="deleteApartment(apteItem)">Delete</button>
				{{apteItem.id}}.{{apteItem.clientName}}:{{apteItem.tel}},
				{{apteItem.address}},
				{{apteItem.floor}},
				{{apteItem.door}},
				{{apteItem.enterCode}},
				{{apteItem.capacity}},
				{{apteItem.price}},
				{{apteItem.status}},
				{{apteItem.comment1}},
				{{apteItem.comment2}}
			</div>

		</li>
	</ul>
</div>





